<p>
  {{link-to "Person list" "people.index" }}
</p>

<h1>Person show</h1>

<p>
  <strong>First name:</strong>
  <span>{{model.firstName}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span>{{model.lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

